@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: var(--principal);
}

:root{
    /* FONTES */

    --principal: 'Inter', sans-serif;

    /* CORES */
    --cinzafundo: #2D3142;
    --cinzaClaro: #2d3142b5;
    --cinzaClaroFundo: #F2F2F2;
    --cinzaCat: #D9D9D9;
    --laranja: #F29F05;
    --branco: #FFFFFF;

}

#pesquisa_container{
    background-color: var(--cinzafundo);
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.alinhar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_container{
    background-color: white;
    border-radius: 5px;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
}

.search_container > input{
    border: none;
    width: 100% !important; 
}
#search_but{
    height: 38px;
    padding: 0;
    background-color: white;
}

#search_but>img{
    height: 100%;
}

#logo_camel{
    margin-left:20px;
    width: 100%;
    max-width: 160px;
}

#pesquisa{
    width: 80%;
    max-width: 600px;
    height: 35px;
    border-radius: 5px;
    padding: 0 25px;
}

#carrinho{
    height: 40%;
    min-height: 30px;
}

#categorias_container{
    background-color: var(--laranja);
    display: grid;
    grid-template-columns: 20% 80%;
}

#categorias_container > div{
    text-align: center;
    margin-left: 15px;
    color: var(--branco);
    height: 40px;
}

#categorias_container > div > p{
    margin-bottom: 0;
}

#cat_agrupadas{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
}

#cat_agrupadas > p > a > img{
    height: 100%;
}

#cat_agrupadas > p > a {
    color: white;
    font-weight: bold;
}

#cat_agrupadas > p > a:hover {
    text-decoration: none;
    color: var(--cinzafundo);
}   
.seletor_cat{
    background-color:var(--laranja);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.236);
    border-radius: 0px;
    z-index: 1;
    width: 50vw;
    font-weight: bold;
}

.seletor_cat > ul{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 15px;
}

.seletor_cat > ul > li{
    display: block;
}

.seletor_cat > ul > li > a{
    color: white;
}

.seletor_cat > ul > li > a:hover{
    text-decoration: none;
    color: var(--cinzafundo);
}

ul > li {
    display: inline;
}

#principais_cat{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 30px;
    margin-bottom: 0;
}

.link_cat{
    text-decoration: none;
    color: var(--branco);
    margin: 15px;
    font-weight: bolder;
}

.link_cat:hover{
    color: var(--cinzafundo);
    transition: 0.2s;
    text-decoration: none;
}


main{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2bf808a;
}

#main_container{
    width: 100%;
    max-width: 1200px;
    padding-top: 35px;
}

#publi{
    z-index: 0;
}

.carousel-inner{
    border-radius: 10px;
    width: 50vw;
    max-width: 400px;
}

#categorias_icone{
    display: flex;
}

.cat{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cat > img{
    border-radius: 50%;
    background-color: var(--cinzaCat);
}

.carrossel_cat, .carrossel_container{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
    background-color: var(--cinzaClaroFundo);
    padding-bottom: 10px;
    border-radius: 10px;
}



.carrossel_container>button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    height: fit-content;
    padding: 15px;
}

.carrossel_cat>a{
    color: black;
    text-decoration: none;    
}

.item_cat > img{
    background-color: var(--cinzaCat);
    border-radius: 50%;
    width: 15vw;
    max-width: 150px;
    margin-bottom: 10px;
}


.item_cat, #prod_promo, .item_promo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#itens_promo{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 10px;
    width: 100%;
    margin-bottom: 35px;
}

.img_promo {
    background-color: var(--cinzaCat);
    border-radius: 15px;
    width: 100%;
    max-width: 150px;
}

#prod_promo{
    background-color: var(--cinzaClaroFundo);
    margin-top: 50px;
    border-radius: 10px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

#prod_promo>h3{
    margin: 40px;
}

#itens_promo>a{
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
}

.preco>span{
    color: var(--laranja);
    margin-left: 10px;
}

.nome{
    font-weight: bold;
}

#prod_destaque{
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 35px 0;
    width: 92%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 15px;
    background-color: var(--cinzaClaroFundo);
    border-radius: 10px;
}

#prod_destaque>img{
    margin: auto;
}

#info{
    margin: 0 50px;
}

#info>p{
    margin:20px 0;
    text-align: justify;
}

#info>span{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#info>a{
    color: var(--laranja);
}

footer{
    background-color: var(--cinzafundo);
    height: 50px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100%;
    padding-right: 50px;
}

footer>img{
   height: 100%;
    margin: auto;
}

footer > div > p{
    margin-bottom: 0;
}

footer>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 0.em;
}

#redes_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#redes_container>a{
    height: 75%;
}

.redes{
    height: 100%;
}

@media(max-width: 900px){
    #categorias_container{
        grid-template-columns: 50% 50%;
    }

    #principais_cat{
        display: none;    
    }

    #categorias_container{
        background-color: #2D3142;
        height: fit-content ;
    }

    #cat_agrupadas > p > a:hover {
        color: var(--laranja);
    }

    .seletor_cat{
        width: 100vw;
    }

    .seletor_cat > ul{
        grid-template-columns: 90%;
    }

    main{
        margin: 0px;
    }

    .carrossel_container>button{
        padding: 0px;
    }

    .carrossel_cat{
        margin-top: 10px;
    }

    .item_cat > img{
        width: 13vw;
    }

    .item_cat{
        font-size: 0.8em;
    }

    #itens_promo{
        grid-template-columns: 50% 50%;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }

    footer>img{
        height: 70px;
    }

    .redes{
        padding-top: 15px;
        height: 50px;
    }
}