@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: var(--principal);
}

:root{
    /* FONTES */

    --principal: 'Inter', sans-serif;

    /* CORES */
    --cor1: #2D3142;
    --cor2: #2d3142b5;
    --cor3: #F2F2F2;
    --cor4: #D9D9D9;
    --cor5: #F29F05;
    --cor6: #FFFFFF;
    --cor7: #EAEDED; 
}

/* Classes com reutilização ao longo do código */

.alinhar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secao{
    width: 95%;
    margin:35px auto 35px auto;
    padding: 15px 0 15px 0;
    border-radius: 10px;
}

/* Configurações gerais da pagina Home */

body{
    background-color: var(--cor7);
}

main{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor7);
}

#main_container{
    width: 100%;
    max-width: 1200px;
    padding-top: 35px;
}

/* Seção de configurações do carrossel de publicidade */

#main_container{
    width: 100%;
    max-width: 1200px;
    padding-top: 35px;
}

.publi_config{
    border-radius: 10px;
    width: 50vw;
    max-width: 400px;
}

/* Seção de configurações do carrosel de categorias */

.linha{
    display: flex;
    justify-content: space-around;
}


/* #carro_cat{
    background-color: var(--cor3);
    color: var(--cor1);
}

.item_cat > img{
    background-color: var(--cor4);
    border-radius: 50%;
    width: 15vw;
    max-width: 150px;
    margin-bottom: 10px;
}

.item_cat > p{
    margin: 0px;
} */





/* Seção de configurações dos produtos em promoção (Com bootstrap) */

.link{
    color: var(--cor1);
}

.link:hover{
    text-decoration: none;
    color: black;
}

.esp_titulo{
    padding: 50px 0;
}

.img_promocao{
    background-color: var(--cor4);
    border-radius: 10px !important;
    max-width: 150px;
    width: 100%;
}

.raio{
    border-radius: 10px;
}

.sem_quebra{
    white-space: nowrap;
}

.espacamento{
    margin-bottom: 0 !important;
}

/* Seção de configurações dos produto em destaque (Com bootstrap) */
.fundo{
    background-color: var(--cor3);
}

.justifica{
    text-align: justify;
}

.teste{
    display: block;
    text-align: end !important;
}






/* Seção de configurações dos produtos em promoção (Sem Bootstrap) */
#prod_promo{
    background-color: var(--cor3);
}

#prod_promo>h3{
    margin: 20px 0 35px 0;
}

#itens_promo{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.img_promo {
    background-color: var(--cor4);
    border-radius: 15px;
    width: 100%;
    max-width: 150px;
}

#itens_promo>a{
    text-decoration: none;
    color: var(--cor1);
}

.preco{
    color: var(--cor5);
    margin-left: 10px;
}

.nome{
    font-weight: bold;
    margin-bottom: 0px;
}

/* Seção de configurações dos produto em destaque (Sem Bootstrap)*/

#prod_destaque{
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--cor3);
}

#prod_destaque>img{
    margin: auto;
}

#info{
    margin: 0 50px;
}

#info>h3{
    text-align: center;
}

#info>p{
    text-align: justify;
}

#info>p>span{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#info>a{
    color: var(--cor5);
    display: block;
    text-align: end;
}

/* Configurações para responsívidade */

@media(max-width: 800px){
    /* Configurações gerais da pagina Home */
    main{
        margin: 0px;
    }
    
    /* Seção de configurações do carrosel de categorias */
    .linha{
        font-size: 0.8em;
    }

    /* Seção de configurações dos produtos em promoção */
    #itens_promo{
        grid-template-columns: 33% 33% 33%;
    }
}

@media(max-width: 600px){
    /* Seção de configurações dos produtos em promoção */
    #itens_promo{
        grid-template-columns: 50% 50%;
    }

    /* Seção de configurações dos produto em destaque */
    #prod_destaque{
        display: flex;
        flex-direction: column-reverse;
    }

    #info{
        margin-top: 20px;
    }

}

@media(max-width: 400px){
     /* Seção de configurações do carrosel de categorias */
    .linha{
        font-size: 0.6em;
    }
}


/* Configurações do footer */

footer{
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.corfooter{
    background-color: #2D3142;
}

footer h3{
    font-size: small;
    color: white;
}

footer h4{
    font-size: small;
    color: white;
}

.footer-space{
    padding: 10px 80px;
}

.fa-brands{
    color: gray;
    padding: 10px;
}

.fa-solid{
    color: gray;
    padding: 10px;
}





/* configurações do carrossel de configurações usando splideJs */
.splide{
    overflow: hidden;
    margin: 0 auto;
    display: flex;
}

.splide p{
    margin-bottom: 0;
}

.splide__slide>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--cor1);
}

.splide__slide>a:hover{
    text-decoration: none;
}

.splide__slide img{
    border-radius: 50%;
    background-color: var(--cor4);
    width: 15vw;
    max-width: 150px;
}

.splide__arrow{
    background-color: var(--cor3);
}

.splide__arrow svg{
    fill: var(--cor5);
}   

@media(max-width: 600px){
    .splide__arrow{
        display: none;
    }
}