@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--principal);
}

:root{
    /* FONTES */
    --principal: 'Inter', sans-serif;

    /* CORES */
    --cor1: #2D3142;
    --cor2: #2d3142b5;
    --cor3: #F2F2F2;
    --cor4: #D9D9D9;
    --cor5: #F28705;
    --cor6: #FFFFFF;
    --cor7: #EAEDED; 

    /* Cores rodapé */
    --bg-primary-color: hsl(180, 8%, 92%);
    --white-color: hsl(0, 0%, 95%);
    --black-color: hsl(0, 0%, 5%);
    --gray-color: hsl(229, 19%, 22%);
    --orange-color: hsl(39, 96%, 48%);
}

/* Classes com reutilização ao longo do código */

.alinhar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secao{
    width: 95%;
    margin:35px auto 35px auto;
    padding: 15px 0 15px 0;
    border-radius: 10px;
}

/* Configurações gerais da pagina Home */

body{
    background-color: var(--cor7);
}

main{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor7);
}

#main_container{
    width: 100%;
    max-width: 1200px;
    padding-top: 35px;
}

/* Seção de configurações do carrossel de publicidade */

#main_container{
    width: 100%;
    max-width: 1200px;
    padding-top: 35px;
}

.publi_config{
    border-radius: 10px;
    width: 50vw;
    max-width: 400px;
}

/* configurações do carrossel de categorias usando splideJs */
#splide1{
    overflow: hidden;
    margin: 0 auto;
    display: flex;
}

#splide1 p{
    margin-bottom: 0;
}

@media(max-width:400px){
    #splide1 p{
        font-size: 4vw;
    }
}

.splide1>a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--cor1);
}

.splide1>a:hover{
    text-decoration: none;
}

.splide1 img{
    border-radius: 50%;
    background-color: var(--cor4);
    width: 15vw;
    max-width: 150px;
}

.splide__arrow{
    background-color: var(--cor3);
}

.splide__arrow svg{
    fill: var(--cor5);
}   

@media(max-width: 600px){
    .splide__arrow{
        display: none;
    }
}

/* Seção de configurações do carrosel de categorias */
/*
.linha{
    display: flex;
    justify-content: space-around;
}


#carro_cat{
    background-color: var(--cor3);
    color: var(--cor1);
}

.item_cat > img{
    background-color: var(--cor4);
    border-radius: 50%;
    width: 15vw;
    max-width: 150px;
    margin-bottom: 10px;
}

.item_cat > p{
    margin: 0px;
} */





/* Seção de configurações dos produtos em promoção (Com bootstrap) */

.link{
    color: var(--cor1);
}

.link:hover{
    text-decoration: none;
    color: black;
}

.esp_titulo{
    padding: 50px 0;
}

.img_promocao{
    background-color: var(--cor4);
    border-radius: 10px !important;
    max-width: 150px;
    width: 100%;
}

.raio{
    border-radius: 10px;
}

.sem_quebra{
    white-space: nowrap;
}

.espacamento{
    margin-bottom: 0 !important;
}

/* Seção de configurações dos produto em destaque (Com bootstrap) */
.fundo{
    background-color: var(--cor3);
}

.justifica{
    text-align: justify;
}

.teste{
    display: block;
    text-align: end !important;
}






/* Seção de configurações dos produtos em promoção (Sem Bootstrap) */
#prod_promo{
    background-color: var(--cor3);
}

#prod_promo>h3{
    margin: 20px 0 35px 0;
}

#itens_promo{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.img_promo {
    background-color: var(--cor4);
    border-radius: 15px;
    width: 100%;
    max-width: 150px;
}

#itens_promo>a{
    text-decoration: none;
    color: var(--cor1);
}

.preco{
    color: var(--cor5);
    margin-left: 10px;
}

.nome{
    font-weight: bold;
    margin-bottom: 0px;
}

/* Seção de configurações dos produto em destaque (Sem Bootstrap)*/

#prod_destaque{
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: var(--cor3);
}

#prod_destaque>img{
    margin: auto;
}

#info{
    margin: 0 50px;
}

#info>h3{
    text-align: center;
}

#info>p{
    text-align: justify;
}

#info>p>span{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#info>a{
    color: var(--cor5);
    display: block;
    text-align: end;
}

/* Configurações para responsívidade */

@media(max-width: 800px){
    /* Configurações gerais da pagina Home */
    main{
        margin: 0px;
    }
    
    /* Seção de configurações do carrosel de categorias */
    .linha{
        font-size: 0.8em;
    }

    /* Seção de configurações dos produtos em promoção */
    #itens_promo{
        grid-template-columns: 33% 33% 33%;
    }
}

@media(max-width: 600px){
    /* Seção de configurações dos produtos em promoção */
    #itens_promo{
        grid-template-columns: 50% 50%;
    }

    /* Seção de configurações dos produto em destaque */
    #prod_destaque{
        display: flex;
        flex-direction: column-reverse;
    }

    #info{
        margin-top: 20px;
    }

}

@media(max-width: 400px){
     /* Seção de configurações do carrosel de categorias */
    .linha{
        font-size: 0.6em;
    }
}


/* Configurações do footer */

footer {
    width: 100%;
    background-color: var(--gray-color);
    padding: 10px;
    bottom: 0px;
    font-size: 16px;
    font-family: var(--principal)
  }
  
  footer .top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  
    margin-top: 10px;
  }
  
  
  footer .top img {
    width: 120px;
  }
  
  footer .top p {
    font-size: 10px;
    line-height: 12px;
    color: var(--white-color);
  }
  
  footer .down {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20p;
    
    margin-block: 15px;
  }

  .fa-brands{
    color: gray;
    padding: 10px;
  }

  .fa-solid{
    color: gray;
    padding: 10px;
  }
  
  
  /* === RESPONSIVIDADE FOOTER================================*/
  @media (min-width: 700px) {
    footer {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }




#splide2{
    visibility: visible;
}